body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.navbar {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  width: 47px;
  height: 45px;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  margin-right: 20px;
}

.hero-content {
  position: relative;
  text-align: center;
  margin-top: 55px;
  z-index: 2;
}

.hero-content h1 {
  font-family: Inter;
  font-size: 75px;
  font-weight: 500;
  line-height: 90px;
  text-align: right;
  margin-right: 470px;
  margin-bottom: 75px;
}

.hero-descr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: 250px;
}

.arrow {
  width: 38px;
  height: 35px;
  margin-right: 40px;
}

.hero-subtext {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #aaa;
  text-align: left;
}

.hero-image {
  position: absolute;
  width: 750px;
  height: 600px;
  top: 140px;
  left: 380px;
}

/*Section client*/
.client-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 160px;
}

.client-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #c0c0c0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-right: 640px;
}

.client-logos {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.logo-yc {
  width: 215px;
  height: 43px;
}

.logo-coinbase {
  width: 205px;
  height: 35px;
}

.logo-a16z {
  width: 190px;
  height: 100px;
}

.logo-blockchange {
  width: 210px;
  height: 65px;
}

/*Eternity section*/
.eternity-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
}

.eternity-content {
  margin-left: 110px;
  max-width: 60%;
}

.eternity-content h2 {
  font-family: Inter;
  font-size: 34px;
  font-weight: 500;
  line-height: 43.2px;
}

.eternity-content p {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ffffff99;
}

.infinity-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infinity-image {
  width: 510px;
  height: 180px;
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
}

.infinity-text {
  position: absolute;
  color: #ccc;
  font-size: 1rem;
  text-align: center;
  max-width: 120px;
}

.gradient-bg {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  height: 300px;
  margin-top: 60px;
}

/*Section projects*/
.projects-section {
  margin-bottom: 40px;
  background-color: #000;
  color: #fff;
}

.projects-title {
  font-family: Inter;
  font-size: 80px;
  font-weight: 500;
  text-align: left;
  margin-left: 170px;
}

.projects-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-img-container img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/*Section other*/
.other-section {
  padding: 50px;
  text-align: center;
  position: relative;
}

.other-title {
  font-family: Inter;
  font-size: 80px;
  font-weight: 500;
  line-height: 144px;
  text-align: left;
  margin-left: 95px;
  margin-bottom: 40px;
}

.other-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.other-image {
  width: 85%;
  height: auto;
}

.other-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 90px;
}

.length {
  width: 160px;
  height: auto;
  margin-right: auto;
}

.arrow-left {
  margin-right: 10px;
}

.arrow-right {
  margin-left: 10px;
  margin-right: 90px;
}

.arrow-left,
.arrow-right {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.2);
}

/*GrowSection*/
.grow-section {
  position: relative;
}

.figure-image {
  height: 520px;
  width: 100%;
}

.gradient-2 {
  position: absolute;
  top: 75%;
  left: -15%;
  width: 500px;
  height: 700px;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.8;
}

.grow-title {
  position: relative;
  font-family: Inter;
  font-size: 80px;
  font-weight: 500;
  line-height: 90px;
  text-align: left;
  margin-left: 90px;
}

.clarity-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.clarity {
  text-align: left;
}

.first-clarity {
  font-family: Inter;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
}
.second-clarity {
  font-family: Inter;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff99;
}

.handwriting {
  width: 270px;
  height: 180px;
  margin-right: 50px;
}

.first-idea {
  margin-left: 90px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}

.second-idea {
  margin-left: 110px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #ffffff99;
}

/*Section about*/
.about-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 4rem 2rem;
  background-color: black;
  color: white;
  position: relative;
}

.about-container {
  grid-column: 2 / 3;
  margin-top: 4rem;
}

.about-section h1 {
  font-family: Inter;
  font-size: 77px;
  font-weight: 500;
  line-height: 90px;
  grid-column: 2 / 3;
  margin-bottom: 1rem;
}

.about-section p {
  grid-column: 2 / 3;
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff99;
}

.about-section span {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
}

.arrow-about {
  width: 29px;
  height: 30px;
  transition: transform 0.2s ease;
}

.arrow-about:hover {
  transform: scale(1.2);
}

.teammate1,
.teammate2,
.teammate3 {
  margin-bottom: 200px;
  width: 100%;
  height: auto;
  max-width: 170px;
  margin-top: -300px;
}

.teammate1 {
  grid-column: 1 / 2;
  margin-bottom: 2rem;
  align-self: center;
}

.teammate2 {
  grid-column: 3 / 4;
  margin-bottom: 2rem;
  align-self: center;
}

.teammate3 {
  grid-column: 2 / 3;
  margin: 0 auto;
  margin-top: 2rem;
}

/*Footer*/
footer {
  height: 500px;
  position: relative;
  padding: 50px 20px;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container {
  max-width: 600px;
  margin: 0;
  transform: translateY(130px);
  margin-left: 20px;
}

.footer-header {
  margin: 0;
  font-family: Inter;
  font-size: 47px;
  font-weight: 500;
  line-height: 57.6px;
  text-align: left;
}

.footer-description {
  margin: 10px 0 20px;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ffffff99;
}

.footer-email {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 90px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
}

.arrow-footer {
  width: 38px;
  height: 40px;
}

.circle1,
.circle2,
.circle3 {
  position: absolute;
  bottom: 0;
}

.circle1 {
  width: 840px;
  height: 390px;
  top: 324px;
  left: 241px;
}

.circle2 {
  width: 360px;
  height: 360px;
  top: 174px;
  left: 701px;
}

.circle3 {
  width: 770px;
  height: 390px;
  top: 324px;
  left: 673px;
}

.project-follow-container {
  display: flex;
  gap: 20px;
}

.our-projects,
.follow-us {
  position: relative;
  width: 200px;
  transform: translateY(110px);
}

.follow-us {
  margin-right: 90px;
}

.our-projects-header,
.follow-header {
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.footer-paragraph {
  margin: 5px 0;
  cursor: pointer;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ffffff99;
}

.footer-paragraph:hover {
  text-decoration: underline;
}
